<h3>Inventory</h3>
<div>

    @if (inventories.Count != 0)
    {
        <table>
            <thead>
                <tr>
                    <td>Item</td>
                    <td>Quantity</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var inventory in inventories)
                {
                    <tr>
                        <td><input @bind="inventory.ItemName" /></td>
                        <td><input @bind="inventory.Qty" style="width: 30px;" /></td>
                        <td>
                            <button @onclick="@(() => DeleteInventory(inventory))">X</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }

    <button @onclick="Addinventory">Add Inventory</button>
</div>

@code {
    [Parameter]
    public List<CypherTools.Blazor.Models.CharacterInventory> inventories { get; set; }

    [Parameter]
    public int characterId { get; set; }

    private bool isEditing = false;

    private void ToggleEdit()
    {
        isEditing = !isEditing;
    }

    private void DeleteInventory(CypherTools.Blazor.Models.CharacterInventory inv)
    {
        inventories.Remove(inv);
    }

    private void Addinventory()
    {
        inventories.Add(new Models.CharacterInventory()
        {
            ItemName = "New Item",
            Qty = 0
        });
    }
}
